In [223]:
import pandas as pd

In [224]:
business = pd.read_csv("cleaned_business.csv", dtype=str)
reviews = pd.read_csv("cleanish_reviews.csv") 
ids = pd.read_csv('list_buiss_id.txt', sep=" ", header=None)
ids.columns = ["id"]

In [225]:
business.dtypes

business_id     object
name            object
address         object
city            object
state           object
postal_code     object
latitude        object
longitude       object
stars           object
review_count    object
is_open         object
attributes      object
categories      object
hours           object
dtype: object

In [226]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.6054989743,-79.652288909,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
1,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
2,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.4951941,-112.0285876,3.0,18,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Restaurants, Breakfast & Brunch, Mexican, Taco...","{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W..."
3,fweCYi8FmbJXHCqLnwuk8w,Marco's Pizza,5981 Andrews Rd,Mentor-on-the-Lake,OH,44060,41.70852,-81.359556,4.0,16,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Italian, Restaurants, Pizza, Chicken Wings","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ..."
4,PZ-LZzSlhSe9utkQYU8pFg,Carluccio's Tivoli Gardens,"1775 E Tropicana Ave, Ste 29",Las Vegas,NV,89119,36.1000163,-115.1285285,4.0,40,0,"{'OutdoorSeating': 'False', 'BusinessAcceptsCr...","Restaurants, Italian",NaN

In [227]:
reviews.dtypes

Unnamed: 0      int64
review_id      object
user_id        object
business_id    object
stars           int64
useful          int64
funny           int64
cool            int64
text           object
date           object
dtype: object

In [228]:
reviews.head()

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,147,AiMNpJ6dRLBT6jQ3R3fWFg,th7tfMsh74S6sa_BWOt8YA,qsJkjQoM3Hdg6Gtqp2S9_w,4,0,0,0,"Amazing place, full of authentic decor and amb...",2014-08-24 20:46:44
1,629,SY2y82raSVfjkeEz-vJeGg,SxyMtZu9OlINcGoBsoLxEw,yGMCl0vYigshkXiZFIDTNw,4,0,0,0,We arrived for our reservation at 7:15pm. The...,2017-02-19 14:12:26
2,1369,r5lMNty8jkYTuhNkHuf2BQ,9NG8l_nND_vcg0g6JRuUew,qsJkjQoM3Hdg6Gtqp2S9_w,5,0,0,0,Been to just about every Thai place in Vegas. ...,2015-03-04 21:17:04
3,1474,ygXpZlqU1_4PMO_ZfKYf1A,Wc5L6iuvSNF5WGBlqIO8nw,qBRlwvEuAeTBh_yQLJ4ZVg,3,2,1,2,This place is a Quebec chain. The restos are c...,2012-01-03 16:31:49
4,1493,4jd2qtbrKy53KKB5UAXuEA,bkcWR-bVxx4wjRkjZdUfNQ,qsJkjQoM3Hdg6Gtqp2S9_w,4,2,1,1,I stopped in here the other night before a mov...,2015-06-08 20:29:38

In [229]:
ids.head()

                       id
0  s2B_ZeSGTlQ3qbm0dOY5rg
1  tYYJYqbw1zasFUCqrkawKQ
2  wtDLILBaj5BGEbYvWGfNUw
3  Mnu3EPpuzu3UUN1PIwFRoQ
4  MrSHPvHVdE_VzVN7iRz45Q

In [230]:
columns = ["business_id", "business_name", "our_score", "stars"]
df = pd.DataFrame(columns=columns)

In [231]:
for i in range(len(ids)): 
    id_curr = ids.iloc[i].id
    
    df = df.append({"business_id": id_curr}, ignore_index=True)
    
    #Review data that matches the business id 
    all_reviews = reviews[reviews["business_id"] == id_curr]
    
df.head()

              business_id business_name our_score stars
0  s2B_ZeSGTlQ3qbm0dOY5rg           NaN       NaN   NaN
1  tYYJYqbw1zasFUCqrkawKQ           NaN       NaN   NaN
2  wtDLILBaj5BGEbYvWGfNUw           NaN       NaN   NaN
3  Mnu3EPpuzu3UUN1PIwFRoQ           NaN       NaN   NaN
4  MrSHPvHVdE_VzVN7iRz45Q           NaN       NaN   NaN